extends ./layouts/common
block style
    include ../css/common.css
block content

    div(style='display: flex; justify-content: flex-end;flex-wrap: wrap;')
        button#report.btn.btn-success.mr-2.mb-3(type='button', data-toggle='modal', data-target='#modal-update') 
            h5 Report driver
        button#update.btn.btn-success.mr-2.mb-3(type='button', data-toggle='modal', data-target='#modal-update') 
            h5 Update driver
        button#start.btn.btn-success.mb-3(type='button', data-toggle='modal', data-target='#modal-create') 
            h5 Start creating driver

    
    
    

    #modal-create.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(style='max-width: 800px;min-width: 600px;')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    div(style="display: none;")
                        input.form-control(type="text", name ="clientId", readonly, value='')
                    table.table.table-borderless
                        tr
                            td Name
                            td
                                input.form-control(type="text", name ="name")
                        tr
                            td Code
                            td
                                input.form-control(type="text", name ="code", aria-describedby="notification-code", required)
                                #notification-code.invalid-feedback Code đã trùng.
                        tr
                            td Client
                            td
                                input.form-control(type="text", name ="client-name", readonly)
                        tr
                            td ResidentId
                            td
                                input.form-control(type="text", name ="residentId")
                        tr
                            td Avatar
                            td
                                input.form-control(type="text", name ="avatar")
                        tr
                            td Phone
                            td
                                input.form-control(type="text", name ="phone")
                        tr
                            td Plate
                            td
                                input.form-control(type="text", name ="plate")
                        tr
                            td Address
                            td
                                input.form-control(type="text", name ="address")
                        tr
                            td Status
                            td.form-group
                                select.form-control(name='status')
                                    option(value='active') Active
                                    option(value='inactive') Inactive
                        tr
                            td Username
                            td
                                input.form-control(type="text", name ="username", aria-describedby="notification-user", required)
                                #notification-user.invalid-feedback Username đã trùng.
                        tr
                            td Password
                            td
                                input.form-control(type="password", name ="password", required)
                        tr
                            td Permisssion
                            td.form-group
                                select.form-control(name='roleId')
                .modal-footer
                    button.cancel.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#create.btn.btn-success(type='button', data-dismiss='modal') Create

    #modal-update.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(style='max-width: 800px;min-width: 600px;')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    div(style="display: none;")
                        input.form-control(type="text", name ="driverId", readonly, value='')
                    table.table.table-borderless
                        tr
                            td Name
                            td
                                input.form-control(type="text", name ="name")
                        tr
                            td Code
                            td
                                input.form-control(type="text", name ="code", readonly)
                        tr
                            td Client
                            td
                                input.form-control(type="text", name ="client-name", readonly)
                        tr
                            td ResidentId
                            td
                                input.form-control(type="text", name ="residentId")
                        tr
                            td Avatar
                            td
                                input.form-control(type="text", name ="avatar")
                        tr
                            td Phone
                            td
                                input.form-control(type="text", name ="phone")
                        tr
                            td Plate
                            td
                                input.form-control(type="text", name ="plate")
                        tr
                            td Address
                            td
                                input.form-control(type="text", name ="address")
                        tr
                            td Status
                            td.form-group
                                select.form-control(name='status')
                                    option(value='active') Active
                                    option(value='inactive') Inactive
                                    

                .modal-footer
                    button.cancel.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#btn-update.btn.btn-success(type='button', data-dismiss='modal') Update

    #modal-report.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(style='max-width: 800px;min-width: 600px;')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    table.table.table-borderless
                        
                                    

                .modal-footer
                    button.cancel.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button.cancel.btn.btn-success(type='button', data-dismiss='modal') Ok

    table#content.table.table-striped.table-bordered
        thead.thead-dark(style="text-align: center;")
            tr
                th Name
                th Code
                th Client
                th ResidentId
                th Avatar
                th Phone
                th Plate
                th Address
                th Status
                th(style="width: 70px;") Select
        

block body_continue
    script(src="/views/js/drivers.js").