extends ./layouts/common
block style
    include ../css/common.css
block content

    table.table.table-striped.table-bordered.table-light
        tr
            th Name
            th Address
            th Location
            th Working time
        if gasStations.length !== 0
            each gasStation in gasStations
                tr
                    td= gasStation.name
                    td= gasStation.address
                    td= gasStation.location
                    td= gasStation.workingTime