extends ./layouts/common
block style
    include ../css/common.css
block content

    button#start.btn.btn-success.mb-3(type='button', data-toggle='modal', data-target='#modal-create', style='float:right;') 
        h5 Start creating product

    button#update.btn.btn-success.mr-2.mb-3(type='button', data-toggle='modal', data-target='#modal-update', style='float:right;') 
        h5 Update product
    

    #modal-create.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(style='max-width: 800px;min-width: 600px;')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    table.table.table-borderless
                        tr
                            td Name
                            td
                                input.form-control(type="text", name ="name")
                        tr
                            td Code
                            td
                                input.form-control(type="text", name ="code", aria-describedby="notification-code", required)
                                #notification-code.invalid-feedback Code đã trùng.
                        tr
                            td Unit
                            td
                                input.form-control(type="text", name ="unit")
                        tr
                            td Price
                            td
                                input.form-control(type="number", name ="price")
                        
                .modal-footer
                    button.cancel.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#create.btn.btn-success(type='button', data-dismiss='modal') Create

    #modal-update.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(style='max-width: 800px;min-width: 600px;')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    div(style="display: none;")
                        input.form-control(type="text", name ="productId", readonly, value='')
                    table.table.table-borderless
                        tr
                            td Name
                            td
                                input.form-control(type="text", name ="name")
                        tr
                            td Code
                            td
                                input.form-control(type="text", name ="code", readonly)
                        tr
                            td Unit
                            td
                                input.form-control(type="text", name ="unit")
                        tr
                            td Price
                            td
                                input.form-control(type="number", name ="price")
                                    

                .modal-footer
                    button.cancel.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#btn-update.btn.btn-success(type='button', data-dismiss='modal') Update

    table#content.table.table-striped.table-bordered.table-light
        tr
            th Name
            th Code
            th Unit
            th Price
            th(style="width: 70px;") Select


block body_continue
    script(src="/views/js/products.js").