extends ./layouts/common
block style
    include ../css/common.css
block content

    table.table.table-striped.table-bordered.table-light
        tr
            th Permission
        if roles.length !== 0
            each role in roles
                tr
                    td= role.permission